.header
{
    display: flex;
    text-align: center;
}

.login
{
    margin: auto;
    padding: 1em;
    align-content: space-around;
}
.navbar > Link
{
    list-style-type: none;
    text-align: center;
    margin: auto;
}

/**/
nav
{
    display: flex;
    resize: horizontal;
}

.navbar > ul
{
    list-style-type: none;
    text-align: center;
    margin: auto;
}

.navbar > ul li
{
    padding: 1em;
    justify-content: space-around;
}
